
@import url(http://fonts.googleapis.com/earlyaccess/karlatamilinclined.css);
@import url(http://fonts.googleapis.com/earlyaccess/lohittamil.css);
@import url(http://fonts.googleapis.com/earlyaccess/karlatamilupright.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidsanstamil.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstamil.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstamilui.css);

@font-face {
  font-family: 'latha';
  src: url('../font/tamil/latha.ttf');
}

@page { size: auto;  margin: 5mm; }

  html{
  	overflow: auto;
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid;
  }

  body{
  	overflow: auto;
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid;
  }

   button{
   		display: none!important;
   }

   body{
   		overflow: auto!important;
   		min-height: 700px;
   }

   .print_con{
   		margin-left: 220px!important;
		  margin-top:200px!important;							
     	overflow: visible;
   }

   .select2-selection__choice__remove{
   		display: none!important;
   }
   	.select2-container--default .select2-selection--multiple .select2-selection__choice{
   		background-color: #fff!important;
   		border-color: #333!important;
   		color: #000!important;
  }

  .add_patient h4{
  	text-decoration: underline;
  }

.print-1 > div{
  margin-top:5px!important;
  margin-bottom: 5px!important;
  font-size: 16px!important;
}

.part-1{
  margin-bottom: 7px!important;
  font-size: 15px!important;
}

.part-1 p{
  font-size: 15px!important;
  margin-bottom: 5px!important;
}

.part-1 .title{
  font-size: 15px!important;
  font-weight: bold!important;
  width:40%;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple{
  background-color: #fff!important;
}

.select2-container--default .select2-selection--multiple{
  border:none!important;
}

.case_history th{
  line-height: 15px!important;
  font-size: 13px!important;
}

.case_history tbody td{  
  font-size: 12px!important;
}

.tamil{
  font-family: latha!important;
  font-size: 10px!important;
}

button{
  display: none!important;
}

.print_con table th{
    font-size: 14px!important;
}

.print_con table tbody tr td{
    font-size: 12px!important;
    padding-left:3px!important;
    padding-right:3px!important;
    padding-top:12px!important;
padding-bottom:12px!important;
}

